<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MyCoolApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>94B1DA9A1E4ED88D00B53B5B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>94B1DAAE1E4ED88E00B53B5B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>94B1DAB91E4ED88E00B53B5B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
